extends layout

block content

  //p Welcome to #{title}
  //p it was not easy to set this up 
    .container    
    #chart

  .body
   h1 Pyfia Oracle Data Visualization
   p.
    Pythia is an interactive sonic sculpture, analyzing the audience’s speech and interpreting it into 
    absurd or perhaps prophetic messages, the so-called divine glitch. <a href='http://www.sonicartist.me/wp/pythia/'> Read more...</a>

   P.
    The Visualization below represent the data collected in an eleven month period in the year 2015.
    this Visualization is interactive and the user can select in between time periods to analyse the 
    frequency in the words or phrase for such periods. Also, a single word or phrase can be looked up
    via the search boxes to visualise its existence or frequency in the oracle. Detailed report on the
    analysis of the data can be found in the report tab located in the navigation bar or click <a href='/report.jade'> here</a>

