extends layout

block content
  .col-lg-2.col-md-2.col-sm-3
    .sideview
      a.ui-to-top#btnBack(onClick="gotoHome()")
        i.fa.fa-home
      input#filterInp(type="text" placeholder="search")
      #words
  .col-lg-10.col-md-10.col-sm-9
    #network
    //button.btn.btn-info.btn-lg(type="button" data-toggle="modal" data-target="#myModal") Open Modal
    #myModal.modal.fade(role="dialog")
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type="button" data-dismiss="modal") &times;
            h4#title.modal-title
          .modal-body
            ul#minornode
    a#ui-to-top.ui-to-top(href="/web/viewer.html?file=Presentation.pdf" data-tooltip="tooltip" title="Presentation") P
    a#ui-to-top1.ui-to-top(href="/web/viewer.html?file=Proposal2.pdf" data-tooltip="tooltip" title="Report") R
    a#ui-to-top2.ui-to-top(data-toggle="modal" data-tooltip="tooltip" title="Manuscript" data-target="#manuscript") M
    a#ui-to-top3.ui-to-top(data-tooltip="tooltip" title="Table View. click to toggle" onClick="tableView()") T        
    ul#ui-to-buttom
    
    #manuscript.modal.fade(role="dialog")
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            button.close(type="button" data-dismiss="modal") &times;
            h4#sumtitle.modal-title Manuscript
          #sumtext.modal-body
          .modal-footer
            button.btn.btn-default(type="button" data-dismiss="modal") Close                  
  script(src='/javascripts/semanticForce.js')