doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.9/d3.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    //script(src='/javascripts/data.js')
    //script(src='/javascripts/datatwo.js')
    script(src='/javascripts/script.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        <!-- Brand and toggle get grouped for better mobile display -->
        .navbar-header
          button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
         
          a.navbar-brand(href="#") Pythia
        .collapse.navbar-collapse#myNavbar
          ul.nav.navbar-nav
            li.active
              a(href="#" style="background-color:#1f77b4") Home
            li.dropdown
              a.dropdown-toggle(data-toggle="dropdown" href="#") Key
                span.caret
              ul.dropdown-menu
                li
                  a(href="#" style="background-color:#aec7e8") jan
                li
                  a(href="#" style="background-color:#ff7f0e") Feb 
                li
                  a(href="#" style="background-color:#ffbb78") Mar
                li
                  a(href="#" style="background-color:#2ca02c") Apr
                li
                  a(href="#" style="background-color:#98df8a") May
                li
                  a(href="#" style="background-color:#d62728") Jun
                li
                  a(href="#" style="background-color:#ff9896") Jul
                li
                  a(href="#" style="background-color:#9467bd") Aug 
                li
                  a(href="#" style="background-color:#c5b0d5") Sep
                li
                  a(href="#" style="background-color:#8c564b") Oct
                li
                  a(href="#" style="background-color:#c49c94") Nov 
                li
                  a(href="#" style="background-color:#e377c2") Dec
        
            //li
              a(href="#") Key
            li
              a(href="#") Summary 
            li
              a(href="#") Report
            
          ul.nav.navbar-nav.navbar-right
            li
              a(href="#")
                span.glyphicon.glyphicon-user Sign Up
            li
              a(href="#")
                span.glyphicon.glyphicon-log-in Login
      
    nav(aria-label="Page navigation")
      ul.pagination
        li
          a(href="#" aria-label="Previous")
            span(aria-hidden="true") &laquo;
        li
          a.a(href="#") 1
        li
          a.a(href="#") 2
        li
          a.a(href="#") 3
        li
          a.a(href="#") 4
        li
          a.a(href="#") 5
         li
          a.a(href="#") 6
        li
          a.a(href="#") 7
        li
          a.a(href="#") 8
        li
          a.a(href="#") 9
        li
          a.a(href="#") 10
        li
          a(href="#" aria-label="Next")
            span(aria-hidden="true") &raquo;
    h1= 'Pyfia Oracle Data Visualization'
    block content
