doctype html
html
  head
    title= title
    link(rel='stylesheet', href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    //script(src='https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.290/pdf.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.9/d3.js')
    //script(src="https://d3js.org/d3.v4.min.js")
    //script(src='javascripts/require.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    //script(src='https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.290/pdf.js')
    //script(src='Dataset/rawlist.js')
  body
    .header Pythia Data Visualization         
    block content
